<ion-view title="About Me" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/3cQ6ertJRG2YfQiv10Ih_me.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="aboutMe-markdown16" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Nicole Agustin Gamon</p>

      <p style="color:#000000;">As an aspiring photographer, I believe that taking a photos is like capturing the moment and memories that will last a lifetime. I want to capture not only the scenes but also the soul, emotions and humanity in every picture I've got</p>
    </div>
  </ion-content>
</ion-view>