<ion-view title="Login" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="login-form8" class="list">
      <ion-list id="login-list10">
        <label class="item item-input" id="login-input12">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input13">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.pHOTOHOLIC" id="login-button50" class="button button-dark  button-block">Log in</a>
      <a href-inappbrowser="/signup" id="login-button51" class="button button-dark  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>