<ion-view title="Photos" id="page13">
  <ion-content padding="true" class="has-header">
    <div id="photos2-markdown22" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#0014FF;">Life in Color!</p>
    </div>
    <div>
      <img src="img/ljzP89TTMqq66Ua2tkNF_15994546_10208386405043093_2035570489326486618_o.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 14px;"></div>
    <div>
      <img src="img/YaH8majOTOSgL68HsN5E_15975054_10208386405283099_6241979903897240337_o.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 14px;"></div>
    <div>
      <img src="img/CyqxzV99SdqPevBe3anA_15936952_10208386404883089_2983902365593820152_o.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 14px;"></div>
    <div>
      <img src="img/ZewzZnfyRBanDpQw6x7Z_15541464_10208196755581975_2365838328383512665_n.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 14px;"></div>
    <div>
      <img src="img/ohjucKz9Tt22mlummKNh_15578685_10208196755261967_5524284664298006068_n.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 14px;"></div>
    <div>
      <img src="img/nnzs41tcSGSl16MLiKfO_15622257_10208203858839552_1279540911579662219_n.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 14px;"></div>
  </ion-content>
</ion-view>