<ion-view title="Photos" id="page3">
  <ion-content padding="true" class="has-header">
    <div id="photos-markdown19" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">B &amp; W</p>
    </div>
    <p>
      <a ui-sref="tabsController.photos2">Life in Color!</a>
    </p>
    <div id="photos-button-bar3" class="button-bar"></div>
    <div>
      <img src="img/DYKRyNyXQXGHnwljpjfD_16142544_10208440204628049_3712736945248930989_n.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div>
      <img src="img/dkDsdRo4RMSjCanZgSBG_15965063_10208360594877855_5120738304140881069_n.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div>
      <img src="img/bmEe8HLS1KbqriJwBrJw_15972584_10208367216883401_4410650977367751569_o.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div>
      <img src="img/2M8ipYAaTbalLpF85qUi_15937265_10208367229003704_1263961823323323135_o.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div>
      <img src="img/XGp3ZfFySvCg0obCUiIh_16112931_10208410610568216_191616645593835103_o.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 14px;"></div>
    <div>
      <img src="img/RToV1kaOQkKg1wHbOsXv_16112724_10208410601727995_2086097239508051541_o.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 14px;"></div>
    <div>
      <img src="img/dpGKSB4wSbuV2SlNw3Oh_16174513_10208430185137568_8285495282713083555_n.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 14px;"></div>
    <div>
      <img src="img/rB3hAwjlQayUysrg7NTg_15995276_10208422724111047_5517028637681087484_o.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 14px;"></div>
  </ion-content>
</ion-view>